.brPreviewer__msgBox {
  background-color: var(--neutral-50);
  border-radius: 6px;
  color: var(--basic-dark);
  font-family: var(--ff-3);
  font-size: var(--fs-b4);
  font-weight: 700;
  left: 50%;
  opacity: 0;
  padding: 0.4rem 1.2rem;
  position: absolute;
  top: 1rem;
  transform: translateX(-50%);
  transition: all 0.25s;
  visibility: hidden;
  z-index: -1;
}

.brPreviewer__msgBox.show {
  opacity: 1;
  top: -4.2rem;
  visibility: initial;
}

.brPreviewer__msgBox::after {
  background-color: var(--neutral-50);
  bottom: -4px;
  content: '';
  height: 8px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) rotate(45deg);
  width: 8px;
}